.card {
  border: 1px solid #eaf0f1;
  border-radius: 5px;
  margin-top: 15px;
}

.card-body {
  display: flex;
  padding: 15px;
}

h3 {
  font-size: 32px;
  color: #eaf0f1;
}

img {
  max-height: 200px;
  border-radius: 5px;
}
.move-right {
  margin-left: 2rem;
}

p {
  font-size: 20px;
  color: #eaf0f1;
}

.continue-reading {
  font-style: italic;
  text-decoration: underline;
  color: #019031;
}
